<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body ng-app="app">
    <% include ./partials/nav %>
        <div class="container">
            <div ng-controller="balancesController">
                <h1>Exchange Balance Table</h1>
                <button type="button" class="btn btn-primary" ng-click="loadBalance()">Refresh</button>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Exchange</th>
                            <th>USD</th>
                            <th>SGD</th>
                            <th>ETH</th>
                            <th>QASH</th>
                            <th>BTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="balance in balances">
                            <td>
                                <span class="label" ng-class="balance.exchange">{{balance.exchange}}</span>
                            </td>
                            <td>
                                <span ng-class="balance.usd < 50 ? 'label label-danger' : ''">{{balance.usd}}</span>
                            </td>
                            <td>
                                <span ng-class="balance.sgd < 50 ? 'label label-danger' : ''">{{balance.sgd}}</span>
                            </td>
                            <td>
                                <span ng-class="balance.eth < 0.1 ? 'label label-danger' : ''">{{balance.eth}}</span>
                            </td>
                            <td>
                                <span ng-class="balance.qash < 100 ? 'label label-danger' : ''">{{balance.qash}}</span>
                            </td>
                            <td>
                                <span ng-class="balance.btc < 0.0001 ? 'label label-danger' : ''">{{balance.btc}}</span>
                            </td>
                        </tr>
                        <tr class="danger">
                            <td>Total</td>
                            <td>{{total_usd}}</td>
                            <td>{{total_sgd}}</td>
                            <td>{{total_eth}}</td>
                            <td>{{total_qash}}</td>
                            <td>{{total_btc}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="label quoine">quoinex</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="balance in balance_quoinex">
                                    <td>{{balance.currency}}</td>
                                    <td>{{balance.balance}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="label qryptos">qryptos</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="balance in balance_qryptos">
                                    <td>{{balance.currency}}</td>
                                    <td>{{balance.balance}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="label bitfinex">bitfinex</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Balance</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="balance in balance_bitfinex">
                                    <td>{{balance.currency | uppercase}}</td>
                                    <td>{{balance.amount}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <h3 class="label poloniex">poloniex</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Balance</th>
                                    <th>USDT</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="balance in balance_poloniex">
                                    <td>{{balance.currency}}</td>
                                    <td>{{balance.balance}}</td>
                                    <td ng-init="item = balance.balance * (ticker['USDT_' + balance.currency] ? ticker['USDT_' + balance.currency].last : 1); $parent.total_poloniex = $parent.total_poloniex + item">{{item}}</td>
                                </tr>
                                <tr class="info">
                                    <td>Total</td>
                                    <td colspan="2">{{total_poloniex}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <% include ./partials/script %>
            <script type="text/javascript" src="/javascripts/qqbp.js"></script>
</body>

</html>