.bitfinex {
  background-color: #5cb85c;
}

.quoine {
  background-color: #337ab7;
}

.qryptos {
  background-color: #f0ad4e;
}

.poloniex {
  background-color: #0a6970
}

.binance {
  background-color: #e8b342;
}

.hitbtc {
  background-color: #2da0d2;
}

.allcoin {
  background-color: #4169e1;
}

.yobit {
  background-color: #465a73;
}

.exmo {
  background-color: #347ffb;
}

.bittrex {
  background-color: #323232;
}

.ico {
  background-color: #d9534f;
}
